.themeMap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}

.tri {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.li {
    text-decoration: none;
    /* margin-top: 200px; */
    margin-left: 650px;
}