.Header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  margin-right: 0px;
}

.mainOfMain {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.Header img {
  width: 70px;
  height: 60px;
}

.link {
  margin-top: 10px;
  font-size: 35px;
  color: gold;
  font-family: "Pacifico", cursive;
  text-decoration: none;
}

.link1 {
  margin-top: 10px;
  font-size: 35px;
  color: gold;
  font-family: "Pacifico", cursive;
  text-decoration: none;
  margin-right: 0px;
}

.mainEntry {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 70px;
  margin-top: 20px;
  margin-right: 45px;
}

.entry {
  color: aliceblue;
  text-decoration: none;
  margin-right: 5px;
}

.exit {
  color: aliceblue;
  text-decoration: none;
  margin-right: 5px;
}

.mainExit {
  display: flex;
  justify-content: flex-end;
  width: 70px;
  margin-top: 20px;
  margin-right: 0px;
}

.exit:hover {
  border-bottom: 2px solid white;
}

.entry:hover {
  border-bottom: 2px solid white;
}