.main {
    display: flex;
    background-color: whitesmoke;
    height: 200px;
}

.inputButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin: auto;
}

.inputDisc {
    border: 1px solid silver;
    width: 95%;
    margin-right: 1%;
    margin-bottom: 1.5%;
}

.buttonDisc {
    width: 30%;
    background-color: rgba(14, 14, 209, 0.805);
    border: none;
    font-size: 20px;
    height: 55px;
    margin-top: 0px;
}

.buttonDisc:hover {
    transform: scale(1.05);
    background-color: rgba(0, 0, 255, 0.777);
}

.inputDisc::placeholder {
    font-size: 15px;
    opacity: 0.5;
    font-family: cursive;
}