.blocks {
  background-image: url("");
  background-size: cover;
  height: 150vh;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.main {
  display: flex;
  height: 200px;
  margin-top: 140px;
  margin-left: 20px;
}

.inputButton {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
  cursor: pointer;
}

.inputButton button {
  height: 40px;
  width: 385px;
}

.inputDisc {
  border: 1px solid silver;
  width: 95%;
  padding: 3px 10px;
  font-size: 22px;
  color: gray;
  margin-right: 1%;
  margin-bottom: 1.5%;
  outline-color: rgb(43, 23, 174);
}

.buttonDisc {
  width: 30%;
  color: white;
  background-color: brown;
  border: 1px solid rgba(128, 128, 128, 0.558);
  border-radius: 10px;
  padding: 4px 10px;
  font-size: 16px;
  height: 55px;
  margin-top: 0px;
  cursor: pointer;
}

.buttonDisc::after {
  background-color: rgb(29, 29, 29);
}

.inputDisc::placeholder {
  font-size: 15px;
  opacity: 0.5;
}

.image1 {
  width: 50px;
}

.mainPhoto {
  display: flex;
  flex-direction: column;
}

.inputPhoto {
  color: red;
  margin: auto;
}

.mainPhoto button {
  color: white;
  background-color: brown;
  border-radius: 10px;
  font-size: 16px;
  margin: 5px 0;
  border: 1px solid rgba(128, 128, 128, 0.558);
}

.one {
  height: 530px;
}

.two{
  height: 100%;
  padding: 30px 0;
}